{% extends "base.html" %}
{% load static i18n meta_tags %}

{% block meta_tags %}
  {% meta_tags title='Datenspendeplattform' %}
{% endblock %}

{% block body_class %}{% endblock %}
{% block content_class %}{% endblock %}

{% block content %}

  <div class="relative h-90vh px-4 my-6 sm:my-0 flex flex-col items-center justify-center text-center" style="max-height: 900px">

    <div>
      <div class="max-w-lg md:max-w-3xl mx-auto px-4 py-6 xs:px-6 xs:py-10 md:px-14 md:py-12 lg:px-16 lg:py-12 rounded-3xl bg-white bg-opacity-80">
        {% comment %} <h1 class="hl-2xl xs:hl-3xl md:hl-4xl mb-4">{% trans 'DataSkop' %}</h1> {% endcomment %}
        <p class="lg:text-lg">Bitte logge dich oben rechts ein, um deine Datenspenden einzusehen.</p>
      </div>

    </div>

  </div>


{% endblock content %}
