<div class="mx-auto max-w-md md:max-w-4xl lg:max-w-5xl xl:max-w-7xl px-4 text-center xl:text-lg grid gap-8 md:gap-0 md:grid-cols-2">

  <div class="relative max-w-2xl md:border-r md:border-b md:border-orange-100 md:p-10 lg:p-12 xl:p-16">
    <div class="hidden md:flex justify-center items-center absolute top-8 xl:top-12 left-8 xl:left-16 rounded-full w-12 h-12 font-bold text-xl text-white bg-orange-400">1</div>
    <div class="space-y-2 lg:space-y-4">
      <div><i class="text-4xl sm:text-5xl far fa-comments"></i></div>
      <div class="hl-lg sm:hl-xl ">Wie können wir Ihnen helfen?</div>
      <div class="max-w-md mx-auto">Wählen Sie ein Unding aus. Mit einigen Fragen helfen wir, das Problem weiter einzugrenzen.</div>
    </div>
  </div>

  <div class="relative max-w-2xl md:border-b md:border-orange-100 md:p-10 lg:p-12 xl:p-16">
    <div class="hidden md:flex justify-center items-center absolute top-8 xl:top-12 left-8 xl:left-16 rounded-full w-12 h-12 font-bold text-xl text-white bg-orange-400">2</div>
    <div class="space-y-2 lg:space-y-4">
      <div><i class="text-4xl sm:text-5xl far fa-paper-plane"></i></div>
      <div class="hl-lg sm:hl-xl ">Automatischer E-Mail-Versand</div>
      <div class="max-w-md mx-auto">Aus Ihren Antworten erstellt Unding einen Text. Der wird nach Ihrer Prüfung an das Unternehmen/die Behörde verschickt. Dafür wird eine interne E-Mail-Adresse verwendet – nicht ihre private.</div>
    </div>
  </div>

  <div class="relative max-w-2xl md:border-r md:border-orange-100 md:p-10 lg:p-12 xl:p-16">
    <div class="hidden md:flex justify-center items-center absolute top-8 xl:top-12 left-8 xl:left-16 rounded-full w-12 h-12 font-bold text-xl text-white bg-orange-400">3</div>
    <div class="space-y-2 lg:space-y-4">
      <div><i class="text-4xl sm:text-5xl far fa-user-circle"></i></div>
      <div class="hl-lg sm:hl-xl ">Unding-Konto</div>
      <div class="max-w-md mx-auto">Damit wir Ihren Fall vermitteln können, müssen Sie ein Unding-Konto erstellen. Wenn eine Antwort kommt, erhalten Sie auf diesem Weg eine Benachrichtigung.</div>
    </div>
  </div>

  <div class="relative max-w-2xl md:pl-8 xl:pl-10 md:p-10 lg:p-12 xl:p-16">
    <div class="hidden md:flex justify-center items-center absolute top-8 xl:top-12 left-8 xl:left-16 rounded-full w-12 h-12 font-bold text-xl text-white bg-orange-400">4</div>
    <div class="space-y-2 lg:space-y-4">
      <div><i class="text-4xl sm:text-5xl fas fa-star-half-alt"></i></div>
      <div class="hl-lg sm:hl-xl ">Bewertung</div>
      <div class="max-w-md mx-auto">Auf die Antwort des Unternehmens/der Behörde können Sie reagieren: Bitten Sie um eine bessere Antwort, leiten Sie ihren Fall weiter oder schließen Sie den Vorgang mit einer Bewertung ab.</div>
    </div>
  </div>

</div>
