// some stuff from

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// Goliath starting from here

.aw-casetype-item img {
  max-height: 10rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

// .main-container {
//   min-height: calc(100vh - 260px);
// }

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type="radio"] {
  visibility: hidden;
}
input[type="radio"]:checked {
  visibility: visible !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sv_q_radiogroup_label span:nth-child(4) {
    @apply inline-block box-border border-4 my-2 p-2 text-right;
  }

  .sv_q_radiogroup_label {
    @apply text-right;
  }
}
