// some stuff from

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// Goliath starting from here

.aw-casetype-item img {
  max-height: 10rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

// .main-container {
//   min-height: calc(100vh - 260px);
// }

.aw-hidden {
  visibility: hidden;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type="radio"] {
  visibility: hidden;
}
input[type="radio"]:checked {
  visibility: visible !important;
}

.sv-q-col-1 {
  display: flex !important;
}

.sv_row {
  background-color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sv_q_title {
    @apply inline-block box-border border-4 my-2 p-2;
  }

  .sv_q_radiogroup,
  .sv_nav {
    @apply flex justify-end;
  }

  .sv_nav input {
    @apply p-2;
  }

  .sv_q_radiogroup_label span:nth-child(4) {
    @apply inline-block box-border border-4 my-2 p-2;
  }

  .sv_q_text_root {
    @apply float-right box-border border-4 my-2 p-2 mr-4;
  }

  .btn {
    @apply bg-white border-2 border-blue-500 rounded-lg text-blue-500 px-2 py-1 transition duration-300 ease-in-out hover:bg-blue-500 hover:text-white m-2;
  }

  .unverified {
    @apply text-sm mr-2 bg-red-600 text-white p-1 rounded;
  }

  .textinput {
    @apply border-2 border-blue-500 px-2 py-1;
  }

  .survey-container {
    @apply border-2 border-gray-500 p-5 my-5;
  }

  .previewhtml {
    @apply border-2 border-gray-500 p-3 my-3;
  }
}

@layer base {
  h1 {
    @apply text-2xl py-3;
  }
  h2 {
    @apply text-xl py-2;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}
