{% load static %}

<footer role="contentinfo" class="pt-10 lg:pt-16 pb-8 lg:pb-12 bg-white">
  <div class="page-wrap-wide page-wrap-space">
    <div class="grid grid-cols-2 xs:grid-cols-3 md:grid-cols-6 lg:grid-cols-4 gap-6 text-brown-700 text-sm lg:text-base leading-relaxed">

      <div class="col-span-2 xs:col-span-3 md:col-span-2 lg:col-span-1">
        <div class="border border-brown-200 text-brown-600 rounded-xl px-4 md:px-5 pb-4 pt-3 md:w-min md:-mt-2">
          <div class="mb-2.5 md:mb-3 text-sm whitespace-nowrap">Dataskop ist ein Projekt von</div>
          <a href="https://algorithmwatch.org" target="_blank"><img class="block w-40" src="{% static 'img/dslogo.png' %}" alt="AlgorithmWatch logo" /></a>
        </div>
      </div>

      <div>
        <ul>
          <li><a href="//dataskop.net" class="hover:underline">Über</a></li>
          <!-- <li><a href="//dataskop.net" class="hover:underline">FAQ</a></li>
          <li><a href="//dataskop.net" class="hover:underline">Kontakt</a></li> -->
        </ul>
      </div>

      <div>
        <!-- <ul>
          <li><a href="//dataskop.net" class="hover:underline">Impressum</a></li>
          <li><a href="//dataskop.net" class="hover:underline">Datenschutz</a></li>
        </ul> -->
      </div>

      <div class="md:col-start-6 lg:col-start-auto">
        <ul class="flex text-xl space-x-4 lg:justify-end">
          <li><a href="https://twitter.com/dataskop_net" class="hover:text-brown-1000"><i class="fab fa-twitter"></i></a></li>
          <!-- <li><a href="https://www.facebook.com/unding.melden" class="hover:text-brown-1000"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/unding.melden/" class="hover:text-brown-1000"><i class="fab fa-instagram"></i></a></li> -->
        </ul>
      </div>

    </div>
  </div>
</footer>
