{% load static %}

<footer role="contentinfo" class="pt-10 lg:pt-16 pb-8 lg:pb-12 bg-white">
  <div class="page-wrap-wide page-wrap-space">
    <div class="grid grid-cols-2 xs:grid-cols-3 md:grid-cols-6 lg:grid-cols-4 gap-6 text-brown-700 text-sm lg:text-base leading-relaxed">
      <div>
        <ul>
          <li><a target="_blank" rel="noreffer" href="//dataskop.net/ueber" class="hover:underline">Über DataSkop</a></li>
          <li><a target="_blank" rel="noreffer" href="//dataskop.net/impressum" class="hover:underline">Impressum</a></li>
          <li><a target="_blank" rel="noreffer" href="https://dataskop.net/datenschutzerklaerung/" class="hover:underline">Datenschutz</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
