{% extends "account/email/base_message.html" %}
{% load account %}
{% load i18n %}

{% block content %}{% autoescape off %}<p>der erste Schritt ist geschafft. Damit Sie Ihre Registrierung abschließen können, klicken Sie bitte auf <a rel="notrack" href="{{ activate_url }}">diesen Link</a>.</p>

{% with site_name=current_site.name %}<p>Viel Spaß mit {{site_name}}! Falls Sie Fragen haben, können Sie sich gerne an uns wenden unter <a rel="notrack" href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.</p>{% endwith %}{% endautoescape %}{% endblock %}
