
{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block inner %}
  <h1 class="hl-2xl mb-6">{% trans 'E-mail Addresses' %}</h1>

  <div class="space-y-6 divide-y divide-brown-200">

    {% if user.emailaddress_set.all %}
      <div>
        <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

        <form action="{% url 'account_email' %}" class="email_list" method="post">
          {% csrf_token %}

          <ul class="my-6">
          {% for emailaddress in user.emailaddress_set.all %}
            <li>
              <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

                <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

                {{ emailaddress.email }}
                <span class="font-bold text-sm">({% spaceless %}
                  {% if emailaddress.verified %}
                    {% trans "Verified" %}
                  {% else %}
                    {% trans "Unverified" %}
                  {% endif %}
                {% endspaceless %})</span>

                {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}

              </label>
            </li>
          {% endfor %}
          </ul>

          <div class="form-group flex space-x-3">
            <button class="btn btn--small btn--outline" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
            <button class="btn btn--small btn--outline" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
            <button class="btn btn--small btn--outline" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
          </div>

        </form>
      </div>

    {% endif %}

    <div class="pt-5">
      <h2 class="hl-xl mb-6">{% trans 'Add E-mail Address' %}</h2>
      <form method="post" action="{% url 'account_email' %}" class="space-y-4 max-w-xs">
          {% csrf_token %}
          {% comment %} {{ form.email|add_label_class:"input-label" }} {% endcomment %}
          {{ form.email|add_class:"text-input text-input--regular w-full" }}
          <button class="btn btn--regular btn--primary" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
      </form>
    </div>

  </div>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    (function() {
      var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
      var actions = document.getElementsByName('action_remove');
      if (actions.length) {
        actions[0].addEventListener("click", function(e) {
          if (! confirm(message)) {
            e.preventDefault();
          }
        });
      }
    })();

    $('.form-group').removeClass('row');
  </script>
{% endblock %}

