{% extends "account/base.html" %}
{% load i18n widget_tweaks %}

{% block head_title %}Ihr Account{% endblock %}

{% block inner %}

  <h1 class="hl-2xl mb-6">{% trans 'Mein Konto' %}</h1>

  <p>Ihr Name wird in den Anschreiben verwendet, die wir für Sie an Unternehmen und Behörden übersenden.</p>

  <div class="space-y-6 divide-y divide-brown-200 mt-6">
    <form class="space-y-4 max-w-xs" id="account-update" method="post" action="{% url 'account_index' %}">
      {% csrf_token %}

      <div>
        {{ form.first_name|add_label_class:"input-label" }}
        {{ form.first_name|add_class:"text-input text-input--regular w-full" }}
      </div>
      <div>
        {{ form.last_name|add_label_class:"input-label" }}
        {{ form.last_name|add_class:"text-input text-input--regular w-full" }}
      </div>

      <button class="btn btn--regular btn--primary" type="submit">Speichern</button>
    </form>

    <div class="pt-5">
      <h3 class="font-bold">Ihre E-Mail-Adresse</h3>
      <p>{{ user.email }} <a href="/account/email/" class="underline hover:no-underline">Ändern</a></p>
    </div>

    <div class="pt-5">
      <ul class="space-y-2">
        <li><a class="hover:no-underline underline" href="/account/password/change/">Passwort ändern</a></li>
        <li><a class="hover:no-underline underline" href="{% url 'export_text' %}">Daten exportieren</a></li>
        <!-- <li><a class="hover:no-underline underline text-red-700" href="/account/">Daten löschen</a></li> -->
      </ul>
    </div>
  </div>


{% endblock %}

