{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Dein Account{% endblock %}

{% block inner %}

<h1>Mein Konto</h1>

<p>Ein Text, der erklärt, wofür welche Daten verwendet werden. Bspw. werden Name & E-Mail dem Empfänger gezeigt?</p>

<br />

<h3>Ihr Name</h3>
<br />

<form class="account-update" id="account-update" method="post" action="{% url 'account_index' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-primary" type="submit">Speichern</button>
</form>

<br />

<h3>Ihre E-Mail-Adresse</h3>

<br />

<div>
  Email: {{ user.email }}
</div>

<br />

<p><a href='/account/email/'>E-Mail-Adresse ändern</a></p>

<br />

<!-- <p><a href='/account/password/change/'>Passwort ändern</a></p> -->

<br />
<hr />
<br />

<p><a href='/account/'>Daten exportieren</a></p>
<br />

<hr />
<br />

<p><a href='/account/'>Daten löschen</a></p>



{% endblock %}

