{% extends "account/base.html" %}

{% load i18n widget_tweaks %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

  <div class="max-w-xs mx-auto text-center">
    <h1 class="hl-2xl mb-6">{% trans "Sign In" %}</h1>

    <form class="space-y-4 text-left" method="post" action="{% url 'account_login' %}">
      {% csrf_token %}

      <div>
        {{ form.login|add_label_class:"input-label" }}
        {{ form.login|add_class:"text-input text-input--regular w-full" }}
      </div>
      <div>
        {{ form.password|add_label_class:"input-label" }}
        {{ form.password|add_class:"text-input text-input--regular w-full" }}
        <div class="text-right mt-1 text-sm">
          <a class="hover:underline" href="{% url 'account_reset_password' %}">{% trans "Passwort vergessen?" %}</a>
        </div>
      </div>

      {% if form.errors %}
        {% for error in form.non_field_errors %}
          <div class="text-red-700">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}

      <div class="pt-2">
        <button class="btn btn--regular btn--primary btn--stretch" type="submit">{% trans "Sign In" %}</button>
      </div>
    </form>

    <div class="my-6 relative">
      <span class="z-20 block relative"><span class="bg-white px-10">{% trans 'oder' %}</span></span>
      <span class="z-10 block absolute top-1/2 w-full h-0.5 bg-brown-100"></span>
    </div>

    <div class="space-y-4">
      <a class="btn btn--regular btn--outline btn--stretch" href="{% url 'account_login_magic' %}">Mit Magic-Link anmelden</a>
      <a class="btn btn--regular btn--outline btn--stretch" href="{% provider_login_url 'twitter' %}">Mit Twitter anmelden</a>
      <a class="btn btn--regular btn--outline btn--stretch" href="{% provider_login_url 'google' %}">Mit Google anmelden</a>
      <a class="btn btn--regular btn--outline btn--stretch" href="{% provider_login_url 'facebook' %}">Mit Facbook anmelden</a>
    </div>

    <!-- <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    </form> -->



  {% endblock %}

  </div>

