{% extends "account/base.html" %}

{% load i18n widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
  <h1 class="hl-2xl mb-6">{% trans 'Change Password' %}</h1>

  <form method="POST" action="{% url 'account_change_password' %}" class="space-y-4 max-w-xs">
    {% csrf_token %}

    <div>
      {% include "account/form_field_error.html" with field=form.oldpassword %}
      {{ form.oldpassword|add_label_class:"input-label" }}
      {{ form.oldpassword|add_class:"text-input text-input--regular w-full" }}
    </div>

    <div>
      {% include "account/form_field_error.html" with field=form.password1 %}
      {{ form.password1|add_label_class:"input-label" }}
      {{ form.password1|add_class:"text-input text-input--regular w-full" }}
    </div>

    <div>
      {% include "account/form_field_error.html" with field=form.password2 %}
      {{ form.password2|add_label_class:"input-label" }}
      {{ form.password2|add_class:"text-input text-input--regular w-full" }}
    </div>

    <button class="btn btn--regular btn--primary" type="submit" name="action">{% trans "Change Password" %}</button>
  </form>
{% endblock %}

