{% extends "account/base.html" %}

{% load i18n %}
{% load account widget_tweaks %}

{% block inner %}

  <div class="max-w-md mx-auto text-center">
    <h1 class="hl-2xl mb-6">{% trans "Password Reset" %}</h1>

    <div>
      Passwort vergessen? Geben Sie ihre E-Mail-Adresse unten ein, dann schicken wir Ihnen einen Link, mit dem Sie das Passwort zurücksetzen können.
    </div>

    <form class="mt-6 max-w-xs mx-auto" method="POST" action="{% url 'account_reset_password' %}">
      {% csrf_token %}

      <div class="mb-5">
        {{ form.email|add_label_class:"input-label" }}
        {{ form.email|add_class:"text-input text-input--regular w-full" }}
      </div>

      <input class="btn btn--regular btn--primary" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

  </div>
{% endblock %}

