{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}

{% include "socialaccount/snippets/login_extra.html" %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1>{% trans "Sign Up" %}</h1>


<div class="registration-providers">
    <a class="btn block" href="{% url 'signup_email' %}">Mit E-Mail registrieren</a>
    <a class="btn block" href="{% provider_login_url 'twitter' %}">Mit Twitter registrieren</a>
    <a class="btn block" href="{% provider_login_url 'google' %}">Mit Google registrieren</a>
    <a class="btn block" href="{% provider_login_url 'facebook' %}">Mit Facbook registrieren</a>

  <div class="login-or">{% trans 'or' %}</div>
</div>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


{% endblock %}

