{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load socialaccount %}
{% providers_media_js %}

{% comment %} {% include "socialaccount/snippets/login_extra.html" %} {% endcomment %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}

  <div class="max-w-xs mx-auto text-center">
    <h1 class="hl-2xl mb-6">{% trans "Sign Up" %}</h1>

    <form class="space-y-4 text-left" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}

      <div>
        {{ form.email|add_label_class:"input-label" }}
        {{ form.email|add_class:"text-input text-input--regular w-full" }}
      </div>
      <div>
        {{ form.password|add_label_class:"input-label" }}
        {{ form.password|add_class:"text-input text-input--regular w-full" }}
      </div>
      <div>
        {{ form.first_name|add_label_class:"input-label" }}
        {{ form.first_name|add_class:"text-input text-input--regular w-full" }}
      </div>
      <div>
        {{ form.last_name|add_label_class:"input-label" }}
        {{ form.last_name|add_class:"text-input text-input--regular w-full" }}
      </div>

      {% if form.errors %}
        {% for error in form.non_field_errors %}
          <div class="text-red-700">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="pt-2.5">
        <button class="btn btn--regular btn--primary btn--stretch" type="submit">{% trans "Sign Up" %}</button>
      </div>
    </form>

    <div class="my-6 relative">
      <span class="z-20 block relative"><span class="bg-white px-10">{% trans 'oder' %}</span></span>
      <span class="z-10 block absolute top-1/2 w-full h-0.5 bg-brown-100"></span>
    </div>

    <div class="space-y-4 registration-providers">
      <a class="btn btn--regular btn--outline btn--stretch" href="{% provider_login_url 'twitter' %}">{% trans 'Mit Twitter registrieren' %}</a>
      <a class="btn btn--regular btn--outline btn--stretch" href="{% provider_login_url 'google' %}">{% trans 'Mit Google registrieren' %}</a>
      <a class="btn btn--regular btn--outline btn--stretch" href="{% provider_login_url 'facebook' %}">{% trans 'Mit Facbook registrieren' %}</a>
    </div>

    <div class="mt-6 text-sm">
      {% blocktrans %}Sie haben bereits einen Account?<br>Dann <a class="underline hover:no-underline" href="{{ login_url }}">hier entlang</a>.{% endblocktrans %}
    </div>

  </div>

{% endblock %}

