@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./fonts";

  body {
    // Activates nicer "l" and German "sz" in Inter font
    font-feature-settings: "cv05", "cv07";
  }

  hr {
    @apply border-brown-400 my-5;
  }
}

@layer components {
  @import "./components/form";
}

input[type="radio"] {
  visibility: hidden;
}
input[type="radio"]:checked {
  visibility: visible !important;
}

@import "./utilities";
@import "./components/surveyjs";

// logo eyes
.unding-eyes {
  animation-delay: 0s;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-name: unding-eyes-flash;
  animation-timing-function: steps(3, end);
}
@keyframes unding-eyes-flash {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
