{% extends "base.html" %}

{% load meta_tags %}

{% block meta_tags %}
  {% meta_tags title='Meine Spenden' %}
{% endblock %}

{% block content_class %}page-wrap-wide page-wrap-space{% endblock %}

{% block content %}
  <div class="mt-8 lg:mt-10">
    {% block inner %}
    <h1 class="font-bold text-xl lg:text-2xl leading-6 mt-3 mb-3">Spende: {{ object }}</h1>
    <div class="mt-10">
      <a download class="font-bold underline text-blue-700" href="{% url 'my_donations_download' object.pk %}">Download</a>
    </div>
    <div class="mt-10">
      <a class="font-bold underline text-red-700" href="{% url 'my_donations_delete' object.pk %}">Löschen</a>
    </div>
    <div class="relative p-4 border border-gray-500 rounded">
      <div className="absolute inset-x-0 bottom-0 py-12 bg-gradient-to-from-transparent to-white max-h-96"></div>
      {{ object.results }}
    </div>
    {% endblock %}
  </div>
{% endblock %}
