{% extends "base.html" %}

{% load meta_tags %}

{% block meta_tags %}
  {% meta_tags title='Meine Spenden' %}
{% endblock %}

{% block content_class %}page-wrap-wide page-wrap-space{% endblock %}

{% block content %}
  <div class="mt-8 lg:mt-10">
    {% block inner %}
      <h1 class="font-bold text-xl lg:text-2xl leading-6 mt-3 mb-3">Benachrichtigungen</h1>
      <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input class="hover:no-underline underline bg-transparent pt-10 text-lg font-bold" type="submit" value="Speichern">
      </form>
    {% endblock %}
  </div>
{% endblock %}
