{% extends "base.html" %}
{% load static i18n meta_tags %}

{% block meta_tags %}
  {% meta_tags title='Start' %}
{% endblock %}

{% block body_class %}bg-blue-100{% endblock %}
{% block content_class %}{% endblock %}

{% block content %}

  <div class="relative h-90vh px-4 my-6 sm:my-0 flex flex-col items-center justify-center text-center" style="max-height: 900px">

    <div>
      <div class="max-w-lg md:max-w-2xl mx-auto px-4 py-6 xs:px-6 xs:py-10 md:px-14 md:py-12 lg:px-16 lg:py-12 rounded-3xl bg-white bg-opacity-80">
        <h1 class="hl-2xl xs:hl-3xl md:hl-4xl mb-4">{% trans 'Automatische<br> Entscheidungen anfechten' %}</h1>
        <p class="lg:text-lg">{% trans 'Herzlich Willkommen bei Unding. Hier können Sie Fälle melden, bei denen per Computer automatisch entschieden wurde – wogegen Sie Einspruch einlegen wollen.' %}</p>
        <div class="mt-4 xs:mt-6 flex flex-col xs:flex-row items-center justify-center space-y-2 xs:space-y-0 xs:space-x-3">
          <a href="{% url 'new' %}" class="btn btn--regular btn--primary">{% trans 'Unding melden' %}</a>
          <a href="#ueber" class="smooth-scroll btn btn--regular btn--outline">{% trans 'Mehr erfahren' %}</a>
        </div>
      </div>

      <div class="mt-8 flex justify-center">
        <div class="bg-white bg-opacity-60 rounded-xl px-4 py-3">
          <div class="mb-3 text-xs leading-none">Ein Projekt von</div>
          <a href="https://algorithmwatch.org" target="_blank"><img class="block w-40 mx-auto" src="/static/img/aw-logo.svg" alt="AlgorithmWatch logo" /></a>
        </div>
      </div>

    </div>

    {# decision tree background image #}
    <div class="absolute inset-x-0 top-0 -bottom-28 -z-10">
      <div
        style="background-image: url({% static 'img/decision_tree.svg' %})"
        class="w-full h-full -mt-28 bg-no-repeat bg-top bg-cover xl:bg-1300px opacity-80"></div>
    </div>

    {% comment %} <a href="#section-1" type="button" class="smooth-scroll mt-4 p-4 focus:outline-none transition duration-150 transform hover:translate-y-2 hover:text-brown-400 focus:text-current">
      <i class="text-xl fas fa-chevron-circle-down"></i>
    </a> {% endcomment %}

  </div>

  {# Case select #}
  <div class="bg-white py-12 lg:pt-16 lg:pb-24">
    <div class="px-2 page-wrap-wide text-center">

      <div>
        <h2 class="hl-2xl xs:hl-3xl md:hl-4xl mb-4">{% trans 'Unding melden' %}</h2>
        <p class="lg:text-lg">Wählen Sie eine Kategorie aus. Im Anschluss beschreiben Sie das Unding genauer.</p>
      </div>


      <div
        x-data="{ selectedCase: null }"
        class="mt-10 mx-auto"
        :class="{
            'w-max grid gap-4 lg:gap-8 justify-items-center sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4': selectedCase === null,
            'w-full max-w-3xl': selectedCase !== null
        }"
      >
        {% for case in featured_case_types %}
          <div
            class="
              bg-white border border-brown-1000
              rounded-t-2xl rounded-bl-2xl
            "
            x-show="selectedCase === null || selectedCase === '{{ case.id }}'"
            :class="{ 'w-240': selectedCase === null, 'w-full': selectedCase === '{{ case.id }}' }"
          >
            <div
              class="flex flex-col items-center px-5 py-6 cursor-pointer"
              x-show="selectedCase !== '{{ case.id }}'"
              @click.stop="selectedCase = '{{ case.id }}'"
            >
              {# Icon #}
              {% if case.icon_name %}
                <div
                  class="text-3xl flex items-center justify-center rounded-full bg-orange-100 w-16 h-16"
                >
                  <i class="{{ case.icon_name }}"></i>
                </div>
              {% endif %}

              {# Name #}
              <div class="font-bold text-lg leading-6 mt-3">{{ case.title }}</div>

              {# Border #}
              <div class="border-t border-brown-1000 h-px w-28 my-4"></div>

              {# Short title #}
              <div class="italic">{{ case.claim }}</div>
            </div>

            {# Case description visible when selected #}
            <div
              class="relative flex flex-col items-center px-4 sm:px-8 py-10"
              x-show="selectedCase === '{{ case.id }}'">

              {# Icon #}
              {% if case.icon_name %}
                <div
                  class="text-3xl flex items-center justify-center"
                >
                  <i class="{{ case.icon_name }}"></i>
                </div>
              {% endif %}

              {# Name #}
              <div class="font-bold text-xl leading-6 my-4">{{ case.title }}</div>

              <div>
                {{ case.short_description }}
              </div>
              <div class="mt-6">
                <a href="{{ case.get_absolute_url }}" class="btn btn--regular btn--primary">{% trans 'Unding melden' %}</a>
              </div>

              {# Close button #}
              <button
                type="button"
                class="p-4 absolute right-1 top-0 text-lg text-brown-800 hover:opacity-80"
                x-show="selectedCase === '{{ case.id }}'"
                @click="selectedCase = null"
              >
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        {% endfor %}


        {# Propose case card #}
        <div
            x-show="selectedCase === null"
            class="
              bg-white border border-brown-1000
              rounded-t-2xl rounded-bl-2xl
              w-240
            "
          >
            <a href="/kontakt">
              <div class="flex flex-col items-center px-5 py-6 cursor-pointer">

                {# Icon #}
                <div
                  class="text-3xl flex items-center justify-center rounded-full bg-orange-100 w-16 h-16"
                >
                  <i class="fas fa-plus"></i>
                </div>

                {# Name #}
                <div class="font-bold text-lg leading-6 mt-3">Nicht dabei?</div>

                {# Border #}
                <div class="border-t border-brown-1000 h-px w-28 my-4"></div>

                {# Short title #}
                <div class="italic">Unding vorschlagen</div>
              </div>
            </a>
          </div>
      </div>

    </div>
  </div>


  {# Hub (search) #}
  <div class="bg-gray-100 py-12 lg:pt-16 lg:pb-24" id="suche">
    <div class="px-2 page-wrap-wide text-center">

      <h2 class="hl-2xl xs:hl-3xl md:hl-4xl mb-6 lg:mb-8">{% trans 'Unding suchen' %}</h2>
      <p class="max-w-2xl mb-6 mx-auto">Die Unding-Suche hilft Ihnen, hier den richtigen Falltyp für Ihr Anliegen zu finden. Und zeigt außerdem noch Links von anderen Anlaufstellen, die Sie unterstützen könnten.</p>

      {% include './hub.html' %}

    </div>
  </div>

  {# About video #}
  <div class="bg-orange-200 py-12 lg:pt-16 lg:pb-24">
    <div id="ueber" class="px-4 page-wrap-wide text-center">
      <div>

        <h2 class="hl-2xl xs:hl-3xl md:hl-4xl mb-6 lg:mb-8">{% trans 'So funktioniert Unding' %}</h2>

        <div class="lg:flex lg:justify-center max-w-6xl mx-auto lg:px-10 lg:py-12 lg:rounded-lg lg:bg-orange-300">

          <div class="px-4 md:px-0 mb-10 lg:mb-0 lg:mr-6 lg:max-w-xl lg:text-left">
            <div class="lg:text-lg mb-6 max-w-prose mx-auto">
              Immer mehr Dinge in unserem Alltag werden automatisiert entschieden.
              Stellen Sie sich vor, dass Navis so viel Verkehr vor Ihrer Tür entlang schicken, dass Sie nicht mehr sicheren Fußes über die Straße kommen. Dass Fotoautomaten in Behörden ihr Gesicht nicht erfassen, weil die Ihre Hautfarbe nicht richtig erkennen. Oder Sie einen Vertrag nicht bekommen, weil der Computer errechnet hat Sie seien nicht kreditwürdig. Was für Undinger!
            </div>
            <div>
              <a href="/ueber" class="btn btn--regular btn--primary">{% trans 'Weiterlesen' %}</a>
            </div>
          </div>

          <div class="
            max-w-md w-full
            h-64
            mx-auto lg:mx-0
            overflow-hidden
            flex justify-center items-center
          ">
            <iframe width="430" height="256" src="https://www.youtube-nocookie.com/embed/b1bYq9Q73tU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

        </div>
      </div>

    </div>

    {# process visual #}
    <div class="page-wrap-wide mt-10 mb-6 md:mt-12 lg:mt-20 ">
      {% include './process_description.html' %}
    </div>

  </div>





{% endblock content %}
