{% extends "base.html" %}
{% load static %}

{% block title %}Start{% endblock %}

{% block body_class %}bg-blue-100{% endblock %}
{% block content_class %}{% endblock %}

{% block content %}

  <div class="page-wrap-wide page-wrap-space prose-content">

  </div>

  {% for c in  featured_case_types %}
    {{c.name}}
  {% endfor %}


  {% comment %} <div
    style="background-image: url({% static 'img/decision_tree.svg' %})"
    class="absolute w-full h-full bg-cover"></div> {% endcomment %}
{% endblock content %}
