{% extends "account/email/base_message.html" %}
{% load account %}
{% load i18n %}

{% block content %}{% autoescape off %}<p>vielen Dank für Deine Datenspende an DataSkop. Bitte bestätige Deine E-Mail-Adresse zum Abschluss der Spende.

{% endautoescape %} <a rel="notrack" href="{{ activate_url }}">diesen Link</a>.</p>

{% with site_name=current_site.name %}<p>Falls du Fragen hast, wende dich bitte an <a rel="notrack" href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.</p>
<p>Mit freundlichen Grüßen

Das DataSkop-Team</p>{% endwith %}{% endautoescape %}{% endblock %}
