{% extends "base.html" %}
{% load i18n case_status_icon %}

{% block title %}Meine Fälle{% endblock %}

{% block content_class %}page-wrap-wide page-wrap-space mt-8 lg:mt-10{% endblock %}

{% block content %}
  <h1 class="hl-2xl mb-6">{% trans 'Meine Fälle' %}</h1>
  <p class="text-lg">Hier eine Übersicht aller Fälle, die Sie gemeldet haben.</p>
  <hr>

  {% regroup object_list|dictsort:"print_status" by print_status as case_status_list %}

    {% for case_status in case_status_list %}
      <div class="mb-8">
        <h2 class="text-lg font-bold text-brown-800 mb-4">{% spaceless %}
          {% if case_status.grouper == '0_open' %}
            Handlung erforderlich
          {% elif case_status.grouper == '1_waiting' %}
            Warten auf Antwort
          {% else %}
            Abgeschlossen
          {% endif %}
        {% endspaceless %}</h2>

        <div class="sm:w-max grid gap-4 lg:gap-6 sm:grid-cols-2 lg:grid-cols-3">
          {% for case in case_status.list %}

            <div
              class="
                flex flex-col justify-between+
                sm:w-72 p-4 border border-brown-400 rounded-xl
              "
            >
              {# tags #}
              <div>
                {% for tag in case.case_type.tags.all %}
                  <span class="rounded-full bg-brown-100 px-2.5 py-1 text-sm">{{ tag }}</span>
                {% endfor %}
              </div>


              <div class="space-y-2.5 divide-y divide-brown-200">
                {# case title #}
                <div class="hl-xl leading-tight pt-2.5">
                  {{ case.case_type.title }}
                </div>

                {# case status #}
                {% comment %} <div>
                  {% case_status_icon case.status as icon_name %}
                </div> {% endcomment %}

                {# message #}
                <div class="pt-2.5 font-serif text-brown-800 h-40">
                  {% with case.all_messages|first as first_message %}
                    {{ first_message.content|truncatechars:200 }}
                  {% endwith %}
                </div>

                {# recipient(s) #}
                <div class="pt-2.5 border-t border-brown-400 font-semibold">
                  {% for entity in case.selected_entities.all %}
                    <div>{{ entity.name }}</div>
                  {% endfor %}
                </div>

                {# date #}
                <div class="pt-2.5 border-t border-brown-400">
                  {{ case.created_at|date }}
                </div>

                <div class="pt-4">
                  <a class="btn btn--regular btn--outline btn--stretch" href="{{case.get_absolute_url}}">{% trans 'Ansehen' %}</a>
                </div>
              </div>
            </div>

          {% empty %}
            {% comment %} kein Fall {% endcomment %}
          {% endfor %}

        </div>
      </div>
    {% endfor %}

{% endblock %}
