{% extends "base.html" %}
{% load case_status_icon comments widget_tweaks %}

{% block title %}Fall #{{case.id}}{% endblock %}

{% block content_class %}page-wrap-wide page-wrap-space {% endblock %}

{% block content %}

  <div class="relative bg-orange-100 rounded-xl mb-8 p-6 xs:py-8 sm:py-12 text-center">

    {# Icon #}
    {% if case.case_type.icon_name %}
      <div
        class="text-3xl flex items-center justify-center rounded-full bg-orange-200 w-16 h-16 mx-auto"
      >
        <i class="{{ case.case_type.icon_name }}"></i>
      </div>
    {% endif %}

    {# Name #}
    <div class="font-bold text-xl lg:text-2xl leading-6 mt-3">{{ case.case_type.title }}</div>


    <div class="space-y-6">

      {# Claim #}
      <div class="italic mb-6">{{ case.case_type.claim }}</div>

      {# Border #}
      <div class="border-t border-orange-300 h-px w-48 mx-auto"></div>

      <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-10">
        {# Recipient #}
        <div class="text-center">
          <div class="font-bold">Empfänger:</div>
          <div>{{ case.selected_entities.first }}</div>
        </div>

        {# Date #}
        <div class="text-center">
          <div class="font-bold">Angefragt am:</div>
          <div>{{ case.created_at|date:'DATE_FORMAT' }}</div>
        </div>
      </div>

      {# Status #}
      <div class="mx-auto flex justify-center">
        <div class="rounded-full bg-orange-200 py-4 px-6">{% spaceless %}
          {% case_status_icon case.status as icon_name %}
          {% if icon_name %}
            <i class="mr-1.5 text-orange-500 {{ icon_name }}"></i>
          {% endif %}
          <span class="">{{ case.get_status_display }}</span>
        {% endspaceless %}</div>
      </div>
    </div>

    {# Case id #}
    <div class="absolute right-4 top-2 text-xs md:text-sm text-orange-400">#{{ case.id }}</div>

  </div>

  <h2 class="hl-xl mb-6 text-center">Korrespondenz</h2>

  {# Messages #}

  {% for message in case.all_messages %}

    {% with is_incoming_message=message.from_display_email %}

      <div class="mb-8 max-w-prose mx-auto">

        <div class="rounded-xl p-4 border border-brown-1000 ">

          {# Message header #}
          <div class="text-sm border-b border-brown-200 pb-2.5">
            {% if message.from_display_email %}<div><strong>Absender:</strong> {{ message.from_display_name }} ({{ message.from_display_email }})</div>{% endif %}
            <div><strong>Versandt:</strong> {{ message.sent_at }}</div>
            {% if message.from_display_email %}<div><strong>Empfangen:</strong> {{ message.received_at }}</div>{% endif %}
            <div><strong>Betreff:</strong> {{ message.subject }}</div>
          </div>

          {# Message content #}
          <div class="mt-2.5 font-serif whitespace-pre-wrap">
            {% if message.parsed_body %}
            {{  message.parsed_body }}
            {% else %}
            {{  message.content }}
            {% endif %}
          </div>

        </div>

        {# Comment list #}
        {% get_comment_count for message as comment_count %}

        {% if comment_count > 0 %}
          {% get_comment_list for message as commen_list %}
          <div class="mt-2 divide-y divide-brown-200 border-b border-brown-200">
            {% for comment in commen_list %}
              {% if comment.is_public %}
                {# Comment block #}
                <div class="px-4 py-2">
                  <a name="c{{ comment.id }}"></a>

                  {# Author #}
                  <div class="text-sm truncate">
                    <span class="font-bold">{{ comment.user_name }}</span> <span class="text-brown-600">•</span> <a href="{{ request.get_full_path }}#c{{ comment.id }}" class="text-brown-600 hover:underline">{{ comment.submit_date|date:'SHORT_DATETIME_FORMAT' }}</a>
                  </div>

                  {# Comment text #}
                  <div class="break-words whitespace-pre-wrap">{{ comment.comment }}</div>

                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {# Write Comment form #}
        <div x-data="{ showCommentForm: false }">
          <div class="px-4 pt-2" x-show="showCommentForm === false">
            <button type="button" class="font-bold text-sm hover:underline hover:text-brown-8000" @click="showCommentForm = true">
              <i class="fas fa-pencil-alt"></i><span class="ml-1.5">Kommentar schreiben</span>
            </button>
          </div>

          {% get_comment_form for message as form %}
          <form x-show="showCommentForm === true" action="{% comment_form_target %}" method="POST" class="p-4 flex flex-col items-start aw-comment-section">
            {% csrf_token %}

            <div class="font-bold mb-4">Kommentar verfassen</div>

            {% render_field form.comment rows="3" class="text-input text-input--regular w-full mb-4" %}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="next" value="{{ case.get_absolute_url }}" />
            <div class="flex space-x-2">
              <button type="button" class="btn btn--small btn--outline" @click="showCommentForm = false">Abbrechen</button>
              <input type="submit" value="Abschicken" id="id_submit" class="btn btn--small btn--primary" />
            </div>
          </form>
        </div>

      </div>
    {% endwith %}

  {% endfor %}


  {# Reaction container #}
  <form id='aw-status-update-form' method="POST" action="{{ request.get_full_path }}" x-data="{ currentScreen: 'start', new_status: null } ">
    {% csrf_token %}

    <input type="hidden" name="status" x-bind:value="new_status" />

    <div class="text-center rounded-xl mb-8 p-4 border border-brown-1000 max-w-prose mx-auto">

      <div x-show="currentScreen === 'start'">
        <div class="hl-xl mb-3">Ist der Fall für Sie abgeschlossen?</div>
        <div class="flex flex-wrap justify-center">
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'rating'">Ja</button>
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'alternatives'">Nein</button>
        </div>
      </div>

      <div x-show="currentScreen === 'rating'">
        <div class="hl-xl mb-3">Sind Sie zufrieden mit der Antwort?</div>
        <div class="flex flex-wrap justify-center">
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'please_wait'; new_status = 'CP'; setTimeout(function() {document.getElementById('aw-status-update-form').submit()}, 1000)">
            Ja
          </button>
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'please_wait'; new_status = 'CN'; setTimeout(function() {document.getElementById('aw-status-update-form').submit()}, 1000)">
            Nein
          </button>
        </div>
      </div>

      <div x-show="currentScreen === 'please_wait'">
        <p>Einen Moment bitte...</p>
      </div>

      <div x-show="currentScreen === 'alternatives'">
        <div class="hl-xl mb-3">Was möchten Sie als nächstes tun?</div>
        <div class="mb-4">Erwarten Sie noch eine Antwort? Dann klicken Sie auf "Weiter warten".<br>Möchten Sie eine Nachricht an den Empfänger senden oder das Unding-Team kontaktieren? Dann wählen Sie die letztere Option.</div>
        <div class="flex flex-wrap justify-center">
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'please_wait'; new_status = 'WR'; setTimeout(function() {document.getElementById('aw-status-update-form').submit()}, 1000)">Weiter warten</button>
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'react_options'">Auf die letzte Nachricht reagieren</button>
        </div>
      </div>

      <div x-show="currentScreen === 'react_options'">
        <div class="hl-xl mb-3">Was möchten Sie als nächstes tun?</div>
        <div class="flex flex-wrap justify-center">
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="">Autom. Antworten mit Bitte um Befassung</button>
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="scrollIntoLastCommentSection()">Unding um Kontaktaufnahme bitten</button>
        </div>
      </div>


    </div>

  </form>


<script>
  function scrollIntoLastCommentSection() {

    console.log('xx', document.getElementsByClassName('aw-comment-section'))
    // [0].scrollIntoView()
  }
</script>



{% endblock %}
