{% extends "base.html" %}
{% load static %}

{% block title %}{{case_type.name}} - Neues Anliegen{% endblock %}

{% block content %}
  <h1>Neues Anliegen</h2>
  <h2>{{case_type.name}}</h3>
  <p>{{case_type.description}}</p>
  <div class="survey-container">
    <div><btn class="survey-reset btn btn--primary">zurücksetzen</btn></div>
    <div class="survey-inner">
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'wizard.js' %}"></script>
  <script>
  var entities = {{entities_values|safe}};
  var True = true;
  var False = false;
  {% if user.is_authenticated %}
    window.setupSurvey({{case_type.pk}}, {{case_type.questions|safe}},"{{ csrf_token }}", "{{user.full_name}}", entities);
  {% else %}
    window.setupSurvey({{case_type.pk}}, {{case_type.questions|safe}},"{{ csrf_token }}", null, entities);
  {% endif %}
  </script>
{% endblock %}
