{% extends "base.html" %}

{% block title %}{{case_type.name}} - Neues Anliegen{% endblock %}

{% block content %}
  <h1>Neues Anliegen</h2>
  <h2>{{case_type.name}}</h3>
  <p>{{case_type.description}}</p>
  <div class="survey-container">
    <div class="survey-inner">

    </div>
  </div>
{% endblock %}

{% block morejs %}
<script>
  // lol @ Django's JSON handling
  var True = true;
  var False = false;
  {% if user.is_authenticated %}
    window.setupSurvey({{case_type.pk}}, {{case_type.questions|safe}},"{{ csrf_token }}", false);
  {% else %}
    window.setupSurvey({{case_type.pk}}, {{case_type.questions|safe}},"{{ csrf_token }}", true);
  {% endif %}
  </script>
{% endblock %}
