{% extends "base.html" %}
{% load case_status_icon comments %}

{% block title %}Anliegen #{{case.id}}{% endblock %}

{% block content_class %}page-wrap-wide page-wrap-space {% endblock %}

{% block content %}

  <div class="relative bg-orange-100 rounded-xl mb-8 p-6 xs:py-8 sm:py-12 text-center">

    {# Icon #}
    {% if case.case_type.icon_name %}
      <div
        class="text-3xl flex items-center justify-center rounded-full bg-orange-200 w-16 h-16 mx-auto"
      >
        <i class="{{ case.case_type.icon_name }}"></i>
      </div>
    {% endif %}

    {# Name #}
    <div class="font-bold text-xl leading-6 mt-3">{{ case.case_type.title }}</div>


    <div class="space-y-6">

      {# Claim #}
      <div class="italic mb-6">{{ case.case_type.claim }}</div>

      {# Border #}
      <div class="border-t border-orange-300 h-px w-48 mx-auto"></div>

      <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-10">
        {# Recipient #}
        <div class="text-center">
          <div class="font-bold">Empfänger:</div>
          <div>{{ case.selected_entities.first }}</div>
        </div>

        {# Date #}
        <div class="text-center">
          <div class="font-bold">Datum:</div>
          <div>{{ case.created_at|date:'DATE_FORMAT' }}</div>
        </div>
      </div>

      {# Status #}
      <div class="mx-auto flex justify-center">
        <div class="rounded-full bg-orange-200 py-4 px-6">{% spaceless %}
          {% case_status_icon case.status as icon_name %}
          {% if icon_name %}
            <i class="mr-1.5 text-orange-500 {{ icon_name }}"></i>
          {% endif %}
          <span class="">{{ case.get_status_display }}</span>
        {% endspaceless %}</div>
      </div>
    </div>

    {# Case id #}
    <div class="absolute right-4 top-2 text-xs md:text-sm text-orange-400">#{{ case.id }}</div>

  </div>

  <h2 class="hl-xl mb-6 text-center">Korrespondenz</h2>

  {# Messages #}

  {% for message in case.all_messages %}

    {% with is_incoming_message=message.from_display_email %}

      <div class="rounded-xl mb-8 p-4 border border-brown-1000 max-w-prose mx-auto">

        {# Message header #}
        <div class="text-sm border-b border-brown-200 pb-2.5">
          {% if message.from_display_email %}<div><strong>Absender:</strong> {{ message.from_display_name }} ({{ message.from_display_email }})</div>{% endif %}
          <div><strong>Versandt:</strong> {{ message.sent_at }}</div>
          {% if message.from_display_email %}<div><strong>Empfangen:</strong> {{ message.received_at }}</div>{% endif %}
          <div><strong>Betreff:</strong> {{ message.subject }}</div>
        </div>

        {# Message content #}
        <div class="mt-2.5 font-serif">
          {{ message.content }}
        </div>

        {# Message comments #}
        <div>
          {% get_comment_count for message as comment_count %}
          {% comment %} {{comment_count}} {% endcomment %}
          {% render_comment_list for message %}
        </div>

      {% comment %} {% get_comment_form for m as form %}
      <form action="{% comment_form_target %}" method="POST">
        {% csrf_token %}
        {{ form.comment }}
        {{ form.honeypot }}
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" name="next" value="{{ case.get_absolute_url }}" />
        <input type="submit" value="Add comment" id="id_submit" />
      </form> {% endcomment %}

      </div>
    {% endwith %}

  {% endfor %}


  {# Reaction container #}
  <form action="palceholder" x-data="{ currentScreen: 'start' }">
    <input type="hidden" name="new_status" value="" />

    <div class="text-center rounded-xl mb-8 p-4 border border-brown-1000 max-w-prose mx-auto">

      <div x-show="currentScreen === 'start'">
        <div class="hl-xl mb-3">Ist der Fall für Sie abgeschlossen?</div>
        <div class="flex flex-wrap justify-center">
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'rating'">Ja</button>
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'alternatives'">Nein</button>
        </div>
      </div>

      <div x-show="currentScreen === 'rating'">
        <div class="hl-xl mb-3">Sind Sie zufrieden mit der Antwort?</div>
        <div class="flex flex-wrap justify-center">
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'rating_wait'">
            Ja
          </button>
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'rating_wait'">
            Nein
          </button>
        </div>
      </div>

      <div x-show="currentScreen === 'rating_wait'">
        <p>Einen Moment bitte...</p>
      </div>

      <div x-show="currentScreen === 'alternatives'">
        <div class="hl-xl mb-3">Was möchten Sie nächstes tun?</div>
        <div class="mb-4">Erwarten Sie noch eine Antwort? Dann klicken Sie auf "Weiter warten".<br>Möchten Sie eine Nachricht an den Empfänger senden oder das Unding-Team kontaktieren? Dann wählen Sie die letztere Option.</div>
        <div class="flex flex-wrap justify-center">
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="">Weiter warten</button>
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="currentScreen = 'react_options'">Auf die letzte Nachricht reagieren</button>
        </div>
      </div>

      <div x-show="currentScreen === 'react_options'">
        <div class="hl-xl mb-3">Was möchten Sie nächstes tun?</div>
        <div class="flex flex-wrap justify-center">
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="">Autom. Antworten mit Bitte um Befassung </button>
          <button type="button" class="m-1 btn btn--regular btn--outline" @click="">Unding um Kontaktaufnahme bitten</button>
        </div>
      </div>


    </div>

  </form>






{% endblock %}
