{% extends "base.html" %}
{% load i18n %}

{% block title %}Neues Anliegen{% endblock %}

{% block content_class %}page-wrap-wide page-wrap-space mt-8 lg:mt-10{% endblock %}

{% block content %}
  <h1 class="hl-2xl mb-6 text-center">{% trans 'Wählen Sie Ihr Anliegen' %}</h1>
  {% comment %} <p class="text-lg">Hier eine Übersicht aller Anliegen, die Sie gemeldet haben.</p> {% endcomment %}

  <div class="w-max grid gap-4 lg:gap-8 justify-items-center sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mx-auto">
    {% for case_type in object_list %}
      <div
        class="
          bg-white border border-brown-1000
          rounded-t-2xl rounded-bl-2xl
        "
      >
        <a href="{{ case_type.get_absolute_url }}" class="w-240 flex flex-col items-center text-center px-5 py-6 cursor-pointer">

          {# Icon #}
          {% if case_type.icon_name %}
            <div
              class="text-3xl flex items-center justify-center rounded-full bg-orange-100 w-16 h-16"
            >
              <i class="{{ case_type.icon_name }}"></i>
            </div>
          {% endif %}

          {# Name #}
          <div class="font-bold text-lg leading-6 mt-3">{{ case_type.title }}</div>

          {# Border #}
          <div class="border-t border-brown-1000 h-px w-28 my-4"></div>

          {# Short title #}
          <div class="italic">{{ case_type.claim }}</div>
        </a>
      </div>

    {% endfor %}
  </div>

{% endblock %}
