{% extends "account/base.html" %}

{% load i18n widget_tweaks %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

  <div class="max-w-xs mx-auto text-center">
    <h1 class="hl-2xl mb-6">{% trans "Sign In" %}</h1>

    <form class="space-y-4 text-left" method="post" action="{% url 'magic_login' %}">
      {% csrf_token %}

      <div>
        {% include "account/form_field_error.html" with field=form.email %}
        {{ form.email|add_label_class:"input-label" }}
        {{ form.email|add_class:"text-input text-input--regular w-full" }}
      </div>

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="text-red-700">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}

      <div class="pt-2">
        <button class="btn btn--regular btn--primary btn--stretch" type="submit">{% trans "Sign In" %}</button>
      </div>
    </form>

    <script>
      function findGetParameter(parameterName) {
        var result = null,
        tmp = [];
        location.search
          .substr(1)
          .split("&")
          .forEach(function (item) {
          tmp = item.split("=");
          if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
        });
        return result;
      }

      var email = findGetParameter("email")

      if (email !== null) {
        document.getElementById("id_email").value = email
        document.getElementsByTagName("form")[0].submit()
      }

    </script>

{% endblock %}

</div>

