{% load static i18n compress %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %} - Goliath</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The Goliath project by AlgorithmWatch" />
    <meta name="author" content="AlgorithmWatch" />
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" />

    {# Global css #}
    <link href="{% static 'main.css' %}" rel="stylesheet" />
    {% block extra_css %}{% endblock %}
  </head>

  <body>

    {% include "header.html" %}

    <main style="min-height: 30rem;">
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

        {% if messages %} {% for message in messages %}
        {% if message.tags == "error" %}
          {% include "message.html" with message=message color="red" %}
        {% elif message.tags == "info" %}
          {% include "message.html" with message=message color="blue" %}
        {% elif message.tags == "success" %}
          {% include "message.html" with message=message color="green" %}
        {% endif %}
        {% endfor %} {% endif %}

      {% block content %}
        <!-- Replace with your content -->
        <div class="px-4 py-6 sm:px-0">
          <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">Replace content block.</div>
        </div>
        <!-- /End replace -->
      {% endblock content %}
      </div>
    </main>


    {% include "footer.html" %}

    {# Global Javascript #}
    <script src="{% static 'main.js' %}"></script>
    {% block extra_js %}{% endblock %}

  </body>
</html>
