<div class="max-w-7xl mx-auto">
  <div class="grid grid-cols-3 gap-4">
    <div class="mx-auto">
      <img
        class=""
        src="/static/images/aw-logo.svg"
        alt="AlgorithmWatch logo"
        height="50"
      />
      <small class="text-gray-500">© 2020</small>
    </div>

    <div class="mx-auto">
      <ul>
        <li><a class="text-gray-500" href="#">Cool stuff</a></li>
        <li><a class="text-gray-500" href="#">Random feature</a></li>
        <li><a class="text-gray-500" href="#">Team feature</a></li>
      </ul>
    </div>

    <div class="mx-auto">
      <ul>
        <li><a class="text-gray-500" href="#">Cool stuff</a></li>
        <li><a class="text-gray-500" href="#">Random feature</a></li>
        <li><a class="text-gray-500" href="#">Team feature</a></li>
      </ul>
    </div>

  </div>
</div>
