<footer role="contentinfo" class="page-wrap-wide page-wrap-space mt-12 lg:mt-16">
  <div class="grid sm:grid-cols-3 gap-4 text-brown-700 text-sm">
    <div>
      <img class="block w-44" src="/static/img/aw-logo.svg" alt="AlgorithmWatch logo" />© 2020
    </div>

    <div>
      <ul>
        <li><a href="#">Cool stuff</a></li>
        <li><a href="#">Random feature</a></li>
        <li><a href="#">Team feature</a></li>
      </ul>
    </div>

    <div>
      <ul>
        <li><a href="#">Cool stuff</a></li>
        <li><a href="#">Random feature</a></li>
        <li><a href="#">Team feature</a></li>
      </ul>
    </div>

  </div>
</footer>
