{% extends "base.html" %}
{% load static widget_tweaks meta_tags %}

{% block meta_tags %}
  {% with "Ihre Antworten wurden gespeichert!" as title %}
    {% meta_tags title=title %}
  {% endwith %}
{% endblock %}

{% block content_class %}page-wrap-wide page-wrap-space{% endblock %}

{% block content %}
  <div class="rounded-xl bg-blue-100 p-8 lg:p-12 text-center">

    <h1 class="hl-2xl mb-4">🎉<br>Ihre Antworten wurden gespeichert!</h1>
    <p class="text-lg max-w-lg mx-auto">Vielen Dank für die Teilnahme.</p>

    <div class="mt-8 mx-auto max-w-md">
      <h2 class="hl-lg mb-2.5">Sagen Sie es weiter</h2>
      <div class="text-4xl flex justify-center">
          <a href="#" class="mr-4 hover:text-brown-800"><i class="fab fa-twitter-square"></i></a>
          <a href="#" class="hover:text-brown-80/0"><i class="fab fa-facebook-square"></i></a>
      </div>
    </div>

    <div class="mt-8 text-sm">
      <a href="/" class="underline hover:no-underline">Zurück zur Startseite</a>
    </div>

  </div>
{% endblock %}

